.map-box {
  .menu {
    position: absolute;
    bottom: 10px;
    width: auto;
    height: auto;
    padding: 5px 10px;
    left: 10px;
    font-size: 14px;
    font-family: "微软雅黑";
    z-index: 100;
    list-style: none;
    background-color: rgb(245, 202, 122);
    text-align: left;
    border-radius: 5px;
    button {
      margin-left: 10px;
    }
  }
}