.map-box {
  .menu {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 100;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    list-style: none;
    text-align: left;
    input {
      margin-right: 5px;
    }
  }
}