.map-box {
  .menu {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 100;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    select {
      height: 33px;
      line-height: 33px;
    }
  }
}